/*메인페이지 css */
.mainBgImg {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(50%);
}

.mainWrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -1.5%;
}

.mainWrap > button {
    border-radius: 7px;
    width: 200px;
    height: 40px;
    border: 1px #000000 solid;

    background-color: #8d0f14;
    text-align: center;
    cursor: pointer;

    color: white;
    transition: all 0.9s;
    margin-bottom: 15%;
}

.mainWrap > button:hover {
    color: #fff;
    box-shadow: 200px 0 0 0 rgba(0, 0, 0, 0.5) inset;
}

.mainLogo{
    width: 300px;
    height:100%
}

.mainWrap > a{
    margin-bottom: 10%;
}

.slide1{
    width: 750px;
    height: 400px;
}
.slide-image{
    margin-bottom: 20%;
}

/*손현수*/
.choice {
    width: 400px;
}


/*login 페이지 css*/
.button.is-sparta {
    background-color: #e8344e;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #e8344e;
    color: #e8344e !important;
}

.help {
    color: gray;
}
.section.section{
    margin-top: 10%;
}

/*movie 페이지 css*/
.movie-body {
    background: #141414;
}
.top-title {
    color: #ffffff;

    height: 60px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap {
    max-width: 1130px;

    display: flex;
    justify-content: center;
    /*background: #ffffff;*/

    margin: 0 auto;
}
.card {
    flex: 1;
    box-sizing: border-box;
    margin-top: 20px;
}
.card- {
    margin-top: 20px;
}
.poster {
    position: relative;
    width: 328px;
    height: 494px;
    margin: 0 auto;
}
.card-img-top {
    object-fit:cover;
}
.contents {
    /*background: #141414;*/
    position: relative;
    width: 328px;
    height: 150px;

    margin: 0 auto;
    margin-top: 20px;
}
.title {
    color: #E5E5E5;

    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    margin-top: 0;
    margin-bottom: 0;
}
.text {
    color: #E5E5E5;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    margin-top: 10px;
}
.other {
    color: #E5E5E5;

    font-weight: 400;
    font-size: 25px;
    line-height: 24px;

    margin-top: 0;
    margin-left: 70px;
}
.other:after {
    content: "";
    display: block;
    width: 400px;
    border-bottom: 1px solid #bcbcbc;
    margin: 20px 0;
}
.mbti-button {
    max-width: 1800px;
    margin: 0 auto;
    margin-top: 20px;
}
button {
    width: 100px;
    height: 40px;
    color: #FFFFFF;
    background: #141414;

    font-size: 16px;
    border: none;
    border-radius: 20px;
    /*box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);*/
    transition: 0.3s;
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
    margin-top: 0;
}
button:focus {
    outline: 0;
}
button:hover {
    background: #e50914;
    cursor: pointer;
    /*box-shadow: 0 2px 4px rgba(0, 79, 255, 0.6);*/
}


