/*메인페이지 css */
.mainBgImg {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(50%);
}

.index-mainLogo {
    width: 400px;
    height: 100%;
}
.other {
    color: #E5E5E5;
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    margin-top: 00px;
    margin-left: 70px;
}
.other:after {
    content: "";
    display: block;
    width: 400px;
    border-bottom: 1px solid #bcbcbc;
    margin: 20px 0;
}

.mainWrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainWrap > button {
    border-radius: 20px;
    width: 200px;
    height: 40px;
    border: 1px #000000 solid;
    margin: 250px auto 0 auto;
    background-color: #e50914;
    text-align: center;
    cursor: pointer;

    color: white;
    transition: all 0.9s;
}

.mainWrap > button:hover {
    color: #fff;
    box-shadow: 200px 0 0 0 rgba(0, 0, 0, 0.5) inset
}

.mainLogo {
    position: absolute;
    width: 250px;
    height: auto;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.choice {
    width: 400px;
}

.button.is-sparta {
    background-color: #e50914;
    border-color: transparent;
    color: #fff !important;
    border-radius: 20px;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #e8344e;
    color: #e8344e !important;
}

.help {
    color: gray;
}
.section.section{
    margin-top: 200px;
}

.movie-body {
    background: #141414;
}
.top-title {
    color: #ffffff;

    height: 60px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap {
    max-width: 1130px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.card- {
    margin-top: 20px;
}

.card-img-top {
    object-fit:cover;
}

.movie-title {
    color: #E5E5E5;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 0;
}
.text {
    color: #E5E5E5;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 10px;
}
.mbti-button {
    max-width: 1800px;
    margin: 0 auto;
    margin-top: 20px;
}
button {
    width: 100px;
    height: 40px;
    color: #FFFFFF;
    background: #141414;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    transition: 0.3s;
    margin-top: 0;
}
button:focus {
    outline: 0;
}
button:hover {
    background: #e50914;
    cursor: pointer;
}
.top-button {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
}
.goProfile {
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  text-decoration: none;
  color: white;
}

.profile-img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 5px;
}

.user-body {
    background:url('/static/image/1.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.profile-box {
    position: absolute;
    color: white;
    z-index: +1;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
}

.profile-inbox {
    margin: 20px;
        display: flex;
    flex-direction: column;
        align-items: center;
}
.profile-in-img {
    margin-bottom: 15px;
}

.profile-button-box {
    margin: 15px 0 0 0;
}
.user-info{
    margin-top: 5px;
    padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  color: black;
    width: 400px;
    height: 150px;
}
.heart {
    margin-top: 8px;
    filter: drop-shadow(0px 0px 3px #5b1616);
    position: relative;
    color: #e40914;

}
.profile-big-box {
  background-color: #5b1616;
  border-radius: 10px;
  color: white;
  padding: 1em;
        position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

.movie-contents {
    color: white;
    padding: 5px 20px 20px 20px;
    width: 580px;
    height: 300px;
    margin-bottom: 40px;
}
.poster {
    z-index: +1;
    position: relative;
    width: 280px;
    height: 400px;
    margin: 0 auto;
}
.card {
    flex: 1;
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}