<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

<!--  JQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--app.js에 연결-->
  <script defer src="../static/app.js"></script>
<!--  style.css에 연결-->
  <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <title>Title</title>
</head>

<body>
  <img class="mainBgImg" src="static/image/1.jpg"/>
  <div class="mainWrap">
    <a href="/">
      <img class="mainLogo" src="static/image/logoA.png"/>
      </a>
     <div class="mbti-button">
        <button onclick="show_movie()">INTJ</button>
        <button onclick="to_movie()">INTP</button>
        <button onclick="to_movie()">ENTJ</button>
        <button onclick="to_movie()">ENTP</button>
        <button onclick="to_movie()">INFJ</button>
        <button onclick="to_movie()">INFP</button>
        <button onclick="to_movie()">ENFJ</button>
        <button onclick="to_movie()">ENFP</button>
     </div>
       <div class="mbti-button">
        <button onclick="to_movie()">ISTJ</button>
        <button onclick="to_movie()">ISFJ</button>
        <button onclick="to_movie()">ESTJ</button>
        <button onclick="to_movie()">ESFJ</button>
        <button onclick="to_movie()">ISTP</button>
        <button onclick="to_movie()">ISFP</button>
        <button onclick="to_movie()">ESTP</button>
        <button onclick="to_movie()">ESFP</button>
    </div>




</body>
</html>