<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--app.js에 연결-->
    <script defer src="../static/app.js"></script>
    <!--  style.css에 연결-->
    <link rel="stylesheet" href="../static/style.css"/>
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<script>
          $(document).ready(function () {
          get_posts()
          })
</script>
<body class="movie-body">
<div class="top-logo" style="float:left">
      <a href="/">
        <img src="static/image/logo_1.png" class="logo" height="50px" alt="..."></a>
    </div>
    <div class="top-button">
        <a class="goProfile" href="/user/{{ user_info.username }}">
            <img class="profile-img" src="{{ url_for('static', filename=user_info.profile_pic_real) }}">
        <span><strong >{{ user_info.username }}</strong> 님</span>
        </a>
        <button onclick="logout()">로그아웃</button>
    </div>
    <div class="top-title">
        <h1>'<strong>{{ user_info.profile_name }}</strong>'님에게 추천하는 영화</h1>
    </div>
    <div id = "post-outbox" class="wrap">
    </div>
    <h5 class="other">다른 MBTI</h5>
    <div class="mbti-button">
        <button value = "INTJ" onclick="to_movie('INTJ')">INTJ</button>
        <button onclick="to_movie('INTP')">INTP</button>
        <button onclick="to_movie('ENTJ')">ENTJ</button>
        <button onclick="to_movie('ENTP')">ENTP</button>
        <button onclick="to_movie('INFJ')">INFJ</button>
        <button onclick="to_movie('INFP')">INFP</button>
        <button onclick="to_movie('ENFJ')">ENFJ</button>
        <button onclick="to_movie('ENFP')">ENFP</button>
        <button onclick="to_movie('ISTJ')">ISTJ</button>
        <button onclick="to_movie('ISFJ')">ISFJ</button>
        <button onclick="to_movie('ESTJ')">ESTJ</button>
        <button onclick="to_movie('ESFJ')">ESFJ</button>
        <button onclick="to_movie('ISTP')">ISTP</button>
        <button onclick="to_movie('ISFP')">ISFP</button>
        <button onclick="to_movie('ESTP')">ESTP</button>
        <button onclick="to_movie('ESFP')">ESFP</button>
    </div>
</body>
</html>